gen/service3.wsdl

<?xml version="1.0" encoding="utf-8"?>

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.service.creditease.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.service.creditease.com/" name="MessageServiceJaxbImplService">  
  <types> 
    <xsd:schema> 
      <xsd:import namespace="http://ws.service.creditease.com/" schemaLocation="http://118.244.192.173:8902/sms/services/MessageService2.0?xsd=1"/> 
    </xsd:schema> 
  </types>  
  <message name="orderMsgSendJaxb"> 
    <part name="parameters" element="tns:orderMsgSendJaxb"/> 
  </message>  
  <message name="orderMsgSendJaxbResponse"> 
    <part name="parameters" element="tns:orderMsgSendJaxbResponse"/> 
  </message>  
  <message name="batchOrderMsgSendJaxb"> 
    <part name="parameters" element="tns:batchOrderMsgSendJaxb"/> 
  </message>  
  <message name="batchOrderMsgSendJaxbResponse"> 
    <part name="parameters" element="tns:batchOrderMsgSendJaxbResponse"/> 
  </message>  
  <message name="batchCustomMessageSendJaxb"> 
    <part name="parameters" element="tns:batchCustomMessageSendJaxb"/> 
  </message>  
  <message name="batchCustomMessageSendJaxbResponse"> 
    <part name="parameters" element="tns:batchCustomMessageSendJaxbResponse"/> 
  </message>  
  <message name="queryModel"> 
    <part name="parameters" element="tns:queryModel"/> 
  </message>  
  <message name="queryModelResponse"> 
    <part name="parameters" element="tns:queryModelResponse"/> 
  </message>  
  <portType name="MessageService2.0"> 
    <operation name="orderMsgSendJaxb"> 
      <input wsam:Action="http://ws.service.creditease.com/MessageService2.0/orderMsgSendJaxbRequest" message="tns:orderMsgSendJaxb"/>  
      <output wsam:Action="http://ws.service.creditease.com/MessageService2.0/orderMsgSendJaxbResponse" message="tns:orderMsgSendJaxbResponse"/> 
    </operation>  
    <operation name="batchOrderMsgSendJaxb"> 
      <input wsam:Action="http://ws.service.creditease.com/MessageService2.0/batchOrderMsgSendJaxbRequest" message="tns:batchOrderMsgSendJaxb"/>  
      <output wsam:Action="http://ws.service.creditease.com/MessageService2.0/batchOrderMsgSendJaxbResponse" message="tns:batchOrderMsgSendJaxbResponse"/> 
    </operation>  
    <operation name="batchCustomMessageSendJaxb"> 
      <input wsam:Action="http://ws.service.creditease.com/MessageService2.0/batchCustomMessageSendJaxbRequest" message="tns:batchCustomMessageSendJaxb"/>  
      <output wsam:Action="http://ws.service.creditease.com/MessageService2.0/batchCustomMessageSendJaxbResponse" message="tns:batchCustomMessageSendJaxbResponse"/> 
    </operation>  
    <operation name="queryModel"> 
      <input wsam:Action="http://ws.service.creditease.com/MessageService2.0/queryModelRequest" message="tns:queryModel"/>  
      <output wsam:Action="http://ws.service.creditease.com/MessageService2.0/queryModelResponse" message="tns:queryModelResponse"/> 
    </operation> 
  </portType>  
  <binding name="MessageService2.0PortBinding" type="tns:MessageService2.0"> 
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>  
    <operation name="orderMsgSendJaxb"> 
      <soap:operation soapAction=""/>  
      <input> 
        <soap:body use="literal"/> 
      </input>  
      <output> 
        <soap:body use="literal"/> 
      </output> 
    </operation>  
    <operation name="batchOrderMsgSendJaxb"> 
      <soap:operation soapAction=""/>  
      <input> 
        <soap:body use="literal"/> 
      </input>  
      <output> 
        <soap:body use="literal"/> 
      </output> 
    </operation>  
    <operation name="batchCustomMessageSendJaxb"> 
      <soap:operation soapAction=""/>  
      <input> 
        <soap:body use="literal"/> 
      </input>  
      <output> 
        <soap:body use="literal"/> 
      </output> 
    </operation>  
    <operation name="queryModel"> 
      <soap:operation soapAction=""/>  
      <input> 
        <soap:body use="literal"/> 
      </input>  
      <output> 
        <soap:body use="literal"/> 
      </output> 
    </operation> 
  </binding>  
  <service name="MessageServiceJaxbImplService"> 
    <port name="MessageService2.0Port" binding="tns:MessageService2.0PortBinding"> 
      <soap:address location="http://118.244.192.173:8902/sms/services/MessageService2.0"/> 
    </port> 
  </service> 
</definitions>
