gen/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.zzl.org/Sum" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zzl.org/Sum">  
    <wsdl:types> 
    <xsd:schema targetNamespace="http://www.zzl.org/Sum"> 
      <xsd:element name="SumRequest"> 
        <xsd:complexType> 
          <xsd:sequence> 
            <xsd:element name="First" type="xsd:int"/>  
            <xsd:element name="Second" type="xsd:int"/> 
          </xsd:sequence> 
        </xsd:complexType> 
      </xsd:element>  
      <xsd:element name="SumResponse"> 
        <xsd:complexType> 
          <xsd:sequence> 
            <xsd:element name="Result" type="xsd:int"/> 
          </xsd:sequence> 
        </xsd:complexType> 
      </xsd:element>  
      <xsd:element name="SumFault"> 
        <xsd:complexType> 
          <xsd:sequence> 
            <xsd:element name="Code" type="xsd:string"/> 
          </xsd:sequence> 
        </xsd:complexType> 
      </xsd:element> 
    </xsd:schema> 
  </wsdl:types>  
  <wsdl:message name="SumRequest"> 
    <wsdl:part element="tns:SumRequest" name="request"/> 
  </wsdl:message>  
  <wsdl:message name="SumResponse"> 
    <wsdl:part element="tns:SumResponse" name="response"/> 
  </wsdl:message>  
  <wsdl:message name="SumFault"> 
    <wsdl:part name="axisFault" element="tns:SumFault"/> 
  </wsdl:message>  
  <wsdl:portType name="SumService"> 
    <wsdl:operation name="RevokeCert"> 
      <wsdl:input message="tns:SumRequest"/>  
      <wsdl:output message="tns:SumResponse"/>  
      <wsdl:fault name="fault" message="tns:SumFault"/> 
    </wsdl:operation> 
  </wsdl:portType>  
  <wsdl:binding name="SumSoapBinding" type="tns:SumService"> 
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>  
    <wsdl:operation name="Sum"> 
      <soap:operation soapAction="urn:Sum"/>  
      <wsdl:input> 
        <soap:body use="literal"/> 
      </wsdl:input>  
      <wsdl:output> 
        <soap:body use="literal"/> 
      </wsdl:output>  
      <wsdl:fault name="fault"> 
        <soap:fault use="literal" name="fault"/> 
      </wsdl:fault> 
    </wsdl:operation> 
  </wsdl:binding>  
  <wsdl:service name="SumService"> 
    <wsdl:port binding="tns:SumSoapBinding" name="SumSoapBinding"> 
      <soap:address location="http://www.zzl.org/ExampleService/services/SumService"/> 
    </wsdl:port> 
  </wsdl:service> 
</wsdl:definitions>
